<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="stylesBest.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <script src="https://maps.googleapis.com/maps/api/js?sensor=true"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

</head>

<body>
    <header id="header">
        <div class="smalllogo">
            <a href="#welcome-section" class="logolink">
                <h2> <i class="fas fa-code"></i>JJ&M Delivery<span style="color:#FFE48F;">.</span></h2>
            </a>
            <button class="nav-toggle">
                <span class="hamburger"></span>
            </button>
        </div>
        <nav class="nav" id="navbar">
            <div class="logo">
                <a href="nav.html" id="logo">
                    <h1> <i class="fas fa-code" style="font-size: 20px;"></i>JJ&M Delivery <span style="color:#FFE48F;">.</span>
                    </h1>
                </a>
            </div>

            <ul class="nav__list" id="navlinkitems">
                <li class="nav__item">
                    <a href="#about-section" class="nav__link" id="nav__link">Guri Buruz</a>
                </li>
                <li class="nav__item">
                    <a href="#skills-section" class="nav__link" id="nav__link1">Jatetxe Hoberenak</a>
                </li>
                <li class="nav__item">
                    <a href="#projects-section" class="nav__link last" id="nav__link2">Hiriak</a>
                </li>
                <li class="nav__item">
                    <a href="#contacts-section" class="register" id="nav__link3">Erregistratu</a>
                </li>
                <li class="nav__item">
                    <a href="#contacts-section" class="login" id="contact">Saioa Hasi</a>
                </li>
            </ul>
        </nav>
    </header>
    <section class="section one" id="home-section">
     <h2>Euskadiko Jatetxe Hoberenak</h2>
     <div class="main-best">
         <div class="restaurant">
             <img src="jatex.png" class="image">
             <div class="restaurant-val">
             <img src="like.png">  <span >91%<span style="color: #C4C6C7;"> (350)</span></span>
             </div>
        </div>
        <div class="restaurant">
            <img src="jatex.png" class="image">
            <div class="restaurant-val">
            <img src="like.png">  <span >91%<span style="color: #C4C6C7;"> (350)</span></span>
            </div>
       </div>
       <div class="restaurant">
        <img src="jatex.png" class="image">
        <div class="restaurant-val">
        <img src="like.png">  <span >91%<span style="color: #C4C6C7;"> (350)</span></span>
        </div>
   </div>
   <div class="restaurant">
    <img src="jatex.png" class="image">
    <div class="restaurant-val">
    <img src="like.png">  <span >91%<span style="color: #C4C6C7;"> (350)</span></span>
    </div>
</div>
<div class="restaurant">
    <img src="jatex.png" class="image"><h5>Poke House</h5><h7>Sushi</h7></img>
    <div class="restaurant-val">
    <img src="like.png">  <span >91%<span style="color: #C4C6C7;"> (350)</span></span>
    </div>
</div>
<div class="restaurant">
    <img src="jatex.png" class="image">
    <div class="restaurant-val">
    <img src="like.png">  <span >91%<span style="color: #C4C6C7;"> (350)</span></span>
    </div>
</div>
<div class="restaurant">
    <img src="jatex.png" class="image">
    <div class="restaurant-val">
    <img src="like.png">  <span >91%<span style="color: #C4C6C7;"> (350)</span></span>
    </div>
</div>
<div class="restaurant">
    <img src="jatex.png" class="image">
    <div class="restaurant-val">
    <img src="like.png">  <span >91%<span style="color: #C4C6C7;"> (350)</span></span>
    </div>
</div>
<div class="restaurant">
    <img src="jatex.png" class="image">
    <div class="restaurant-val">
    <img src="like.png">  <span >91%<span style="color: #C4C6C7;"> (350)</span></span>
    </div>
</div>

      
        
        
     </div>
    </section>
    <section class="section five" id="contacts-section">
        <div class="footer-content">
            <h1>JJ&M Delivery<span style="color:#FFE48F;">.</span></h1>
            <div class="footer-info">
                <div>
                    <span class="follow"><b>Jarraitu</b></span><br>
                    <span class="follow">Facebook</span><br>
                    <span class="follow">Twitter</span><br>
                    <span class="follow">Instagram</span>
                </div>
                <div>
                    <img src="googleplay.png"><br>
                    <img src="appstore.png">
                </div>
                <div>
                    <span class="condicion">CONDICIONES DE USO</span><br>
                    <span class="follow">POLITICA DE PRIVACIDAD</span><br>
                    <span class="follow">POLITICA DE COOKIES</span>
                </div>
            </div>
        </div>
    </section>
    <script src="scriptBest.js"></script>
</body>

</html>