<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/stylesBase.css' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="icon"  href="../../jjm/static/images/AppIcons/logo_small.png" />

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://js.arcgis.com/4.21/"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <title>J.J&M Delivery</title>

</head>

<body>
    <header id="header">
        <div class="smalllogo">
            <a href="{% url 'jjm_index' %}" class="logolink">
                <h2> <i class="fas fa-code"></i>JJ&M Delivery<span style="color:#FFE48F;">.</span></h2>
            </a>
            <button class="nav-toggle">
                <span class="hamburger"></span>
            </button>
        </div>
        <nav class="nav" id="navbar">
            <div class="logo">
                <a href="{% url 'jjm_index' %}" id="logo">
                    <h1> <i class="fas fa-code" style="font-size: 20px;"></i>JJ&M Delivery <span
                            style="color:#FFE48F;">.</span>
                    </h1>
                </a>
            </div>

            <ul class="nav__list" id="navlinkitems">

                <li class="nav__item">
                    <a href="{% url 'jjm_index' %}#about-section" class="nav__link" id="nav__link">Guri Buruz</a>
                </li>
                <li class="nav__item">
                    <a href="{% url 'jjm_index' %}#skills-section" class="nav__link" id="nav__link1">Jatetxe
                        Hoberenak</a>
                </li>
                <li class="nav__item">
                    <a href="{% url 'jjm_index' %}#projects-section" class="nav__link last" id="nav__link2">Hiriak</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav__item erabil" id="erabil">
                    <div class="datosErabil">
                        <span class="welcome">
                            Kaixo, {{user.first_name}} {{user.last_name}} !
                        </span>
                        <span class="welcome nombre">
                            <label style="color:#E5E5E5;">Izena</label><br>
                            <label>{{user.first_name}} {{user.last_name}}</label><br>
                            <label style="color:#E5E5E5;">Email</label><br>
                            <label>{{user.email}}</label><br>
                        </span>
                        <span class="welcome nombre">
                            <label style="color:#E5E5E5;">Erabiltzailea</label><br>
                            <label>{{user.username}}</label><br>
                            <label style="color:#E5E5E5;">En nuestra familia desde</label><br>
                            <label>{{user.date_joined}}</label><br>
                        </span>
                        <span class="welcome nombre">
                            <a href="{% url 'logout' %}" id="logout">Saioa Itxi</a>
                        </span>
                    </div>
                </li>
                <li class="nav__item dropdown">
                    <button class="buttonShop" id="buttonShop">Carrito · <span id="contador">0</span></button>
                    <div id="myDropdown" class="dropdown-content">
                        <div class=".title">
                            <h1>Tu pedido</h1>
                            <h4>De <span>JJ&M</span></h4>
                        </div>
                        <div class="divExtra">
                            <label for="cubiertos">Pedir cubiertos, pajitas, etc.</label>
                            <input type="checkbox" id="cubiertos" name="cubiertos" value="cubiertos">
                            
                        </div>
                        <div class="totalCarrito">
                            <p>Siguiente pago: <span id="preciofinalDolar">€</span><span id="preciofinal">0</span> </p>
                        </div>
                    </div>
                </li>
                {% else %}
                <li class="nav__item">
                    <a class="register" id="nav__link3">Erregistratu</a>
                </li>
                <li class="nav__item loginClass">
                    <a class="login" id="loginBtn">Saioa Hasi</a>
                    <div class="popLogin" id="popLogin">

                        <h3>Inicie sesion en J.J. & M</h3>
                        <form method="POST" action="{% url 'login' %}">{% csrf_token %}
                            <div class="formulario">
                                <div class="user" id="userImg"></div>
                                <input type="text" placeholder="Usuario" id="userLogin" name="userLogin"
                                    autocomplete="off" required>
                            </div>
                            <div class="formulario">
                                <div class="pass1" id="passImg"></div>
                                <input type="password" placeholder="Contraseña" id="pasLogin" name="pasLogin"
                                    autocomplete="off" required>
                            </div>
                            <input class="btnLogin" type="submit" value="Iniciar sesion">
                        </form>
                        <!--<p>&iquest;No tienes una cuenta? <span><a href="registro.html">Registrate</a></span></p>-->

                    </div>
                </li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <div class="popRegister">
        <div class="containerRegister">
            <h1>Registrate en J.J. & M</h1>
            <span id="closeRegister">X</span>
            <form name="formu" id="formu" method="POST" action="{% url 'register' %}" autocomplete="off" role="form">{%csrf_token %}
                <div class="alert alert-success">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                </div>
                <div class="formulario">
                    <div class="name" id="name"></div>
                    <input type="text" placeholder="Nombre" id="nombre" name="izena" autocomplete="off" required>
                    <span class="error">This field is required</span>
                </div>
                <div class="formulario">
                    <div class="lastname" id="lastname"></div>
                    <input type="text" placeholder="Apellido" id="apellido" name="abizena" autocomplete="off" required>

                </div>
                <div class="formulario">
                    <div class="pass1" id="pass1"></div>
                    <input type="password" placeholder="Contrase&ntilde;a" id="pasahitza" class="contra"
                        name="pasahitza" autocomplete="off" required></input>
                    <span class="errorPass" id="errorPasskonplexua">Pasahitza konplexua</span>
                    <span class="showPass"></span>
                </div>
                <div class="formulario">
                    <div class="pass2" id="pass2"></div>
                    <input type="password" placeholder="Repetir Contrase&ntilde;a" id="cont2" class="contra"
                        autocomplete="off" required></input>
                    <span class="errorPass errorPassSame" id="errorPassSame">Pasahitzak berdinak izan behar dira</span>
                    <span class="showPass"></span>

                </div>
                <div class="formulario">
                    <div class="email" id="email"></div>
                    <input type="email" placeholder="Email" id="mail" name="mail" autocomplete="off" required>
                </div>
                <div class="formulario">
                    <div class="user" id="user"></div>
                    <input type="text" placeholder="Usuario" id="erabiltzailea" name="erabiltzailea" autocomplete="off"
                        required>
                </div>
                <input class="btn" id="btn" type="submit" value="Registrarse"></input>
            </form>
            <p>&iquest;Ya tienes una cuenta? <span><a href="login.html">Inicia sesion</a></span></p>
            <p>Al registrarte, aceptas nuestras <span><a href="">Condiciones de servicio</a></span> y <span><a
                        href="">Politica de privacidad</a></span></p>
        </div>
    </div>
    {% block content %}{% endblock content %}
    <footer class="section five" id="contacts-section">
        <div class="footer-content">
            <h1>JJ&M Delivery<span style="color:#FFE48F;">.</span></h1>
            <div class="footer-info">
                <div>
                    <span class="follow"><b>Jarraitu</b></span><br>
                    <span class="follow">Facebook</span><br>
                    <span class="follow">Twitter</span><br>
                    <span class="follow">Instagram</span>
                </div>
                <div>
                    <img src="{% static 'images/AppIcons/icoGooglePlay.png' %}"><br>
                    <img src="{% static 'images/AppIcons/icoAppStore.png' %}">

                </div>
                <div>
                    <span class="condicion">CONDICIONES DE USO</span><br>
                    <span class="follow">POLITICA DE PRIVACIDAD</span><br>
                    <span class="follow">POLITICA DE COOKIES</span>
                </div>
            </div>
        </div>
    </footer>
    <script src="{% static 'scripts/scriptBase.js' %}"></script>
    {% block page_scripts %}{ }{% endblock %}
</body>

</html>