{% extends "base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/stylesCiudad.css' %}">
<div class="pop-up" id="pop-up">
    <div class="content-popup">
        <button class="close-button" onclick="closePopUp()">X</button>
        <div id="mapid" class="mapa"></div>
    </div>
</div>
<section class="section one" id="home-section">
    <div class="all-content">
        <div class="filters">
            <h9 style="font-weight:bold;">Filtros Populares</h9> &emsp;<a href="/hiria?hiria={{hiria}}" style="font-weight: bold;">x</a>
            <ul>
                {% for filtroa in filtro %}  
                    <li id="{{filtroa.mota}}">
                        <img src="/static/images/AppIcons/filtros/{{filtroa.mota}}.png">
                        <span>{{filtroa.mota}}</span>
                    </li>
                {% endfor %}

            </ul>
        </div>
        <div class="content-main">
            <div class="spinner">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
              </div>
            <h1 id="titulo">Todos los restaurantes de <span style="color: #FFE48F;font-weight: bold;" id="tituloHiria">{{hiria}}</span>
            </h1>
            <div class="filter-price">
                <input type="range">
            </div>
            {% for jatetxea in jatetxe %}   
            <div class="restaurant">
                <img src="/{{jatetxea.img_path}}" class="image">
                <h5 class="izena">{{jatetxea.izena}}</h5>
                <h7 class="mota">{{jatetxea.mota}}</h7></img>
                <div class="restaurant-val">
                    <img src="{% static 'images/AppIcons/icoLike.png' %}"><span>91%<span style="color: #C4C6C7;"> (350)</span></span>
                </div>
                <h1 class="latitud" style="display: none;">{{jatetxea.latitud}} </h1>
                <h1 class="longitud" style="display: none;">{{jatetxea.longitud}} </h1>
            </div>
            {% endfor %}

        </div>
    </div>
</section>
{% block page_scripts %}
<script type="text/javascript" src="{% static 'scripts/scriptCiudad.js' %}"></script>
{% endblock %}
{% endblock content %}