{% extends "base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/stylesCiudad.css' %}">
<div class="pop-up" id="pop-up">
    <div class="content-popup">
        <button class="close-button" onclick="closePopUp()">X</button>
        <div id="mapid" class="mapa"></div>
    </div>
</div>
<section class="section one" id="home-section">
    <div class="all-content">
        <div class="filters">
            <h9 style="font-weight:bold;">
                Herri-iragazkiak
                </h9> &emsp;<a href="/hiria?hiria={{hiria}}" style="font-weight: bold;">x</a>
            <ul>
                {% for filtroa in filtro %}  
                    <li id="{{filtroa.mota}}">
                        <img src="/static/images/AppIcons/filtros/{{filtroa.mota}}.png" loading="lazy">
                        <span>{{filtroa.mota}}</span>
                    </li>
                {% endfor %}

            </ul>
        </div>
        <div class="content-main">
            <div class="spinner">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
              </div>
            <h1 id="titulo"> <span style="color: #FFE48F;font-weight: bold;" id="tituloHiria">{{hiria}}</span> -ko jatetxe guztiak
            </h1>
            <div class="filter-price">
                <div id="slider-range" class="slider" ></div>
            </div>
          
         
            {% for jatetxea in jatetxe %}   
            <div class="restaurant" id="{{jatetxea.id}}">
                
                <img src="/{{jatetxea.img_path}}" loading="lazy" class="image">
                <h5 class="izena">{{jatetxea.izena}}</h5>
                <h7 class="mota">{{jatetxea.mota}}</h7></img>
                {% load average %} 
                {% average jatetxea as page_list%}
                {% for eros in page_list %}
                    <div class="restaurant-val">
                        <img src="{% static 'images/AppIcons/icoLike.png' %}" loading="lazy"><span>{{eros.Kalifikazioa|floatformat:2}}<span style="color: #C4C6C7;">&ensp; ({{eros.Count}})</span></span>
                    </div>
                    {% endfor %}
                <h1 class="latitud" style="display: none;">{{jatetxea.latitud}} </h1>
                <h1 class="longitud" style="display: none;">{{jatetxea.longitud}} </h1> 
                <h1 class="telefonoa" style="display: none;">{{jatetxea.telefonoa}} </h1>
                <h1 class="deskripzioa" style="display: none;">{{jatetxea.deskripzioa}} </h1>
                <h1 class="id" style="display: none;">{{jatetxea.id}} </h1>
            </div>
            {% endfor %}

        </div>
    </div>
</section>
{% block page_scripts %}
<script type="text/javascript" src="{% static 'scripts/scriptCiudad.js' %}"></script>
{% endblock %}
{% endblock content %}