{% extends "base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/stylesResumen.css' %}">
<section class="section one confirm" id="home-section">
   <div class="contentConfim">
       <h1>Eskerrik asko zure erosketagaitik !</h1><br>
       <span>
        Zure eskaera helbide honetan entregatuko da:
        </span><br>
       <span class="calleCompra">{{calle}}</span>
   </div>
</section>
{% block page_scripts %}
<script type="text/javascript" src="{% static 'scripts/scriptResumen.js' %}"></script>
{% endblock %}
{% endblock content %}