{% extends "base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/stylesIndex.css' %}">

<section class="section one" id="home-section">
    <div class="main-info">
        <h4 class="titulo">Jota Jota & M</h4>
        <h2 class="titulo">Dezagun gutxi dezagun beti</h2>
        <p>Euskadiko etxez etxeko janari-salmentako liderrak.Gu <b style="color: black;">J.J & M </b> gara.</p>
        <span class="form">
            <input type="text" placeholder="Non bizi zara?" id="txt_adress" />
            <button class="ubi-image" onclick="getLocation()"></button>
        </span>
        <span class="button">
            <button type="button" class="button">Erosi Orain</input>
                <span class="buy-image"></span>
        </span>
    </div>
    <div class="chef-recomendation">
        <img src="{% static 'images/AppIcons/icoChef.png' %}" loading="lazy">
        <span class="infochef">
            <h4>Geure bezeroen gomendioak</h4>
            <h2>Ikusi bezeroen iritziak</h2>
        </span>
    </div>
    <div class="carousel">
        <span>Gure Produktuak</span>
        {% for produktu in produktua %}
        <div class="carousel-item">
            <div class="image-carrusell">
                <span class="b"><img src="static/images/produktuak/Top/{{produktu.id}}.jpg" loading="lazy" class="image"></span><span class="b tittle">
                    <div class="div1"> {{produktu.izena}}</div>
                    <div class="div2"> {{produktu.prezioa}}€</div>
                </span>
            </div>

            <time>
                {% load random_number %}
                <div class="time-carrusell"> <img src="{% static 'images/AppIcons/icoReloj.png' %}" loading="lazy"
                        style="padding-right: 0.3rem;"> {% random_int 10 30 %}
                    min.
                </div>
            </time>
        </div>
        {% endfor %}

    </div>
</section>

<section class="section two" id="about-section">
    <h2>Jatetxerik onenak eta askoz gehiago Euskadin</h2>
    <div class="content2">
        <div class="parent">
            {% for jatetxe in jatetxea %}
            <div class="grid-item">
                <div class="item">
                    <img src={{jatetxe.img_path}} loading="lazy">
                    <span class="titlebest">{{jatetxe.izena}}</span>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</section>
<section class="section three" id="skills-section">
    <h2>Nahi duzun guztia</h2>
    <div class="all-content">
        <div class="item-content1">
            <div class="info">

                <img src="{% static 'images/AppIcons/icoBeer.png' %}" loading="lazy">
                <span><b>Produkturik onenak</b></span>
                <p>Herriko produkturik onenak aukeratzen ditugu, edonoiz gozatu ahal izateko.</p>
            </div>
        </div>
        <div class="item-content2">
            <div class="info">
                <img src="{% static 'images/AppIcons/icoChef2.png' %}" loading="lazy">
                <span><b>Jatetxe paregabeak</b></span>
                <p>Ezagutu gure jatetxe mota desberdinak, imajina daitezkeen janari mota guztiekin. Beste herrialde batean zaudela ematen du!</p>
            </div>
        </div>
        <div class="item-content3">
            <div class="info">
                <img src="{% static 'images/AppIcons/icoBike.png' %}" loading="lazy">
                <span><b>Entrega azkarra</b></span>
                <p>Askotariko jatetxeekin, gustukoen duzun janaria eskatu ahal izango duzu, edo inguruan jatetxe berriak esploratu!</p>
            </div>
        </div>
    </div>
</section>
<section class="section four" id="projects-section">
    <div class="wave1">
        <img src="{% static 'images/AppIcons/icoCity.png' %}" loading="lazy">
        <h2>Hiri Nagusiak Euskal Herrian</h2>
        <div class="cities">
            {% for hiria in hiriak %}
            <a href="/hiria?hiria={{hiria.helbidea}}" style="cursor: pointer;text-decoration: none;">
            <span class="city">{{hiria.helbidea}}</span></a>
            {% endfor %}
        </div>
    </div>
</section>
{% block page_scripts %}
<script type="text/javascript" src="{% static 'scripts/scriptIndex.js' %}"></script>
{% endblock %}
{% endblock content %}