{% extends "base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/stylesResumen.css' %}">
<section class="section one" id="home-section">

    <div class="contentResumen">
        <div><button class="botonAtras" id="botonAtras"></button>
            <h7>Resumen de tu pedido en</h7><br>
            <h2>JJ&M Delivery</h2>
        </div>
        <form method="POST" action="{% url 'resumen' %}">{% csrf_token %}
            <div class="subcontent">
                <div class="resumenPedido" id="resumenPedido">
                    <div class="tituloResumen">
                        <span>Resumen</span><span class="imagen"></span>
                    </div>
                    <div class="resumen">
                        <div>Productos</div>
                        <div id="totalProductos">4,50€</div>
                    </div>
                    <div class="resumen">
                        <div>Entrega y tarifas</div>
                        <div>4,50€</div>
                    </div>
                    <div class="resumen">
                        <div>Suplemento de envio</div>
                        <div>1,50€</div>
                    </div>
                    <div class="resumen uwu">
                        <div>Total</div>
                        <div id="preciofinalresumen">6,50€</div>
                    </div>
                    <span class="repartidores">Los repartidores ganan de media entre 4 € y 5 € por cada pedido que
                        entregan,
                        más propinas.</span>
                    <button type="submit" class="confirmarPedido">Confirmar pedido</button>
                </div>
                <div class="leftContent">
                    <span class="a">Tienes un total de <b id="contadorProductos">0</b> productos</span>
                    <ul class="resumenDeProductos">
                    </ul>

                    <br>
                    <h1>Detalles de la entrega</h1>
                    <br>

                    <div class="inputDireccion">
                        <span class="calle"></span><input type="text" name="helbidea" id="helbidea" placeholder="Añade direccion de entrega" required>
                    </div>
                    <div class="inputDireccion">
                        <span class="tel"> </span><input type="number"  name="telefonoa" id="telefonoa" placeholder="Añade tu numero de telefono" min="111111111" max="999999999" title="Sartu telefono zenbaki egoki bat" required>
                    </div><input type="text" style="display: none;" name="erosketa" id="erosketa">
                    <div class="inputDireccion">
                        <span class="dateImg"> </span><input type="text" id="programar" 
                            placeholder="Programa tu pedido" required>
                    </div>
                    <br>
                    <h1>Metodos de pago</h1>
                    <br>
                    <div class="metodoPago">
                        <div class="numeroTarjeta"> <span class="cardImg"></span><input type="text" class="card"
                                placeholder="Numero de tarjeta" required></div>
                        <div class="fechaCadu"> <span class="dateImg"></span><input type="text" class="date"
                                placeholder="Fecha caducidad" required></div>
                        <div class="ccv"> <span class="keyImg"></span><input type="text" class="key" placeholder="CCV" required> 
                        </div>
                        <div class="nombreTarjeta"> <span class="nameImg"></span><input type="text" class="nombreCard"
                                placeholder="Nombre" required></div>
                    </div>


                </div>
            </div>
        </form>
    </div>

</section>

{% block page_scripts %}
<script type="text/javascript" src="{% static 'scripts/scriptResumen.js' %}"></script>
{% endblock %}
{% endblock content %}