<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="stylesBest.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>

<body>
    <header id="header">
        <div class="smalllogo">
            <a href="#welcome-section" class="logolink">
                <h2> <i class="fas fa-code"></i>JJ&M Delivery<span style="color:#FFE48F;">.</span></h2>
            </a>
            <button class="nav-toggle">
                <span class="hamburger"></span>
            </button>
        </div>
        <nav class="nav" id="navbar">
            <div class="logo">
                <a href="nav.html" id="logo">
                    <h1> <i class="fas fa-code" style="font-size: 20px;"></i>JJ&M Delivery <span
                            style="color:#FFE48F;">.</span>
                    </h1>
                </a>
            </div>
            
            <ul class="nav__list" id="navlinkitems">
                <li class="nav__item">
                    <a href="#contacts-section" class="register" id="nav__link3">Erregistratu</a>
                </li>
                <li class="nav__item">
                    <a href="#contacts-section" class="login" id="contact">Saioa Hasi</a>
                </li>
            </ul>
        </nav>
    </header>
    <section class="section one" id="home-section">
        <div class="banner">
            <h2>Poke House</h2>
            <h7>1Km · 20-30 min</h7>
        </div>
        <div class="content" id="contentItems">
            <span class="jat-info">€ • Pasteles • Desayuno y brunch • Portuguesa • Alcohol</span>
            <span class="jat-info price"><img src="/AppImages/imgJatetxea/icoBike.png"><span>3,93€</span></span>
            <span class="jat-adreess">Areatza Kalea, 5, Bilbo, EMEA 48005</span>
            <div class="jat-filter" id="jaxlist">
                <ul class="list1">
                    <li>Desayuno</li>
                    <li>Pescados</li>
                    <li>Pescados</li>
                    <li>Pescados</li>
                    <li>Pescados</li>
                    <li>Pescados</li>
                    <li>Pescados</li>
                    <li>Pescados</li>
                    <li>Pescados</li>
                    <li>Pescados</li>
                    <li><button id="buttonMore" class="buttonMore">Mas <img src="/AppIcons/icoArrow.png"></img>   </button></li>
                    <li id="buttonShop" class="buttonShop"><button >Carrito · 0</button></li>
                </ul>
                <ul class="more-filter" id="more-filter">
                    <li>Desayuno Desayuno Desayuno Desayuno</li>
                    <li>Pescados</li>
                </ul>
            </div>
            <div class="contentItems" >
                <h1 class="titulos">Desayunos</h1>
                <div class="gridItems">
                    <div class="card"><img src="pruebaImg.png"><span class="spanInfo"><b>Croissant con Cafe</b><br>7.80€</span></div>
                    <div class="card"><img src="pruebaImg.png"><span class="spanInfo"><b>Croissant con Cafe</b><br>7.80€</span></div>
                    <div class="card"><img src="pruebaImg.png"><span class="spanInfo"><b>Croissant con Cafe</b><br>7.80€</span></div>
                    <div class="card"><img src="pruebaImg.png"><span class="spanInfo"><b>Croissant con Cafe</b><br>7.80€</span></div>
                    <div class="card"><img src="pruebaImg.png"><span class="spanInfo"><b>Croissant con Cafe</b><br>7.80€</span></div>
                    <div class="card"><img src="pruebaImg.png"><span class="spanInfo"><b>Croissant con Cafe</b><br>7.80€</span></div>
                    <div class="card"><img src="pruebaImg.png"><span class="spanInfo"><b>Croissant con Cafe</b><br>7.80€</span></div>
                </div>
            </div>
            <div class="contentItems">
                <h1 class="titulos">Merienda</h1>
                <div class="gridItems">
                    <div class="card"><img src="pruebaImg.png"><span class="spanInfo"><b>Croissant con Cafe</b><br>7.80€</span></div>
                    <div class="card"><img src="pruebaImg.png"><span class="spanInfo"><b>Croissant con Cafe</b><br>7.80€</span></div>
                    <div class="card"><img src="pruebaImg.png"><span class="spanInfo"><b>Croissant con Cafe</b><br>7.80€</span></div>
                    <div class="card"><img src="pruebaImg.png"><span class="spanInfo"><b>Croissant con Cafe</b><br>7.80€</span></div>
                    <div class="card"><img src="pruebaImg.png"><span class="spanInfo"><b>Croissant con Cafe</b><br>7.80€</span></div>
                    <div class="card"><img src="pruebaImg.png"><span class="spanInfo"><b>Croissant con Cafe</b><br>7.80€</span></div>
                    <div class="card"><img src="pruebaImg.png"><span class="spanInfo"><b>Croissant con Cafe</b><br>7.80€</span></div>
                </div>
            </div>
            <div class="contentItems">
                <h1 class="titulos">Pescados</h1>
                <div class="gridItems">
                    <div class="card"><img src="pruebaImg.png"><span class="spanInfo"><b>Croissant con Cafe</b><br>7.80€</span></div>
                    <div class="card"><img src="pruebaImg.png"><span class="spanInfo"><b>Croissant con Cafe</b><br>7.80€</span></div>
                    <div class="card"><img src="pruebaImg.png"><span class="spanInfo"><b>Croissant con Cafe</b><br>7.80€</span></div>
                    <div class="card"><img src="pruebaImg.png"><span class="spanInfo"><b>Croissant con Cafe</b><br>7.80€</span></div>
                    <div class="card"><img src="pruebaImg.png"><span class="spanInfo"><b>Croissant con Cafe</b><br>7.80€</span></div>
                    <div class="card"><img src="pruebaImg.png"><span class="spanInfo"><b>Croissant con Cafe</b><br>7.80€</span></div>
                    <div class="card"><img src="pruebaImg.png"><span class="spanInfo"><b>Croissant con Cafe</b><br>7.80€</span></div>
                </div>
            </div>
            <div class="contentItems">
                <h1 class="titulos">Pescados</h1>
                <div class="gridItems">
                    <div class="card"><img src="pruebaImg.png"><span class="spanInfo"><b>Croissant con Cafe</b><br>7.80€</span></div>
                    <div class="card"><img src="pruebaImg.png"><span class="spanInfo"><b>Croissant con Cafe</b><br>7.80€</span></div>
                    <div class="card"><img src="pruebaImg.png"><span class="spanInfo"><b>Croissant con Cafe</b><br>7.80€</span></div>
                    <div class="card"><img src="pruebaImg.png"><span class="spanInfo"><b>Croissant con Cafe</b><br>7.80€</span></div>
                    <div class="card"><img src="pruebaImg.png"><span class="spanInfo"><b>Croissant con Cafe</b><br>7.80€</span></div>
                    <div class="card"><img src="pruebaImg.png"><span class="spanInfo"><b>Croissant con Cafe</b><br>7.80€</span></div>
                    <div class="card"><img src="pruebaImg.png"><span class="spanInfo"><b>Croissant con Cafe</b><br>7.80€</span></div>
                </div>
            </div>
            <div class="contentItems">
                <h1 class="titulos">Pescados</h1>
                <div class="gridItems">
                    <div class="card"><img src="pruebaImg.png"><span class="spanInfo"><b>Croissant con Cafe</b><br>7.80€</span></div>
                    <div class="card"><img src="pruebaImg.png"><span class="spanInfo"><b>Croissant con Cafe</b><br>7.80€</span></div>
                    <div class="card"><img src="pruebaImg.png"><span class="spanInfo"><b>Croissant con Cafe</b><br>7.80€</span></div>
                    <div class="card"><img src="pruebaImg.png"><span class="spanInfo"><b>Croissant con Cafe</b><br>7.80€</span></div>
                    <div class="card"><img src="pruebaImg.png"><span class="spanInfo"><b>Croissant con Cafe</b><br>7.80€</span></div>
                    <div class="card"><img src="pruebaImg.png"><span class="spanInfo"><b>Croissant con Cafe</b><br>7.80€</span></div>
                    <div class="card"><img src="pruebaImg.png"><span class="spanInfo"><b>Croissant con Cafe</b><br>7.80€</span></div>
                </div>
            </div>
            <div class="contentItems">
                <h1 class="titulos">Pescados</h1>
                <div class="gridItems">
                    <div class="card"><img src="pruebaImg.png"><span class="spanInfo"><b>Croissant con Cafe</b><br>7.80€</span></div>
                    <div class="card"><img src="pruebaImg.png"><span class="spanInfo"><b>Croissant con Cafe</b><br>7.80€</span></div>
                    <div class="card"><img src="pruebaImg.png"><span class="spanInfo"><b>Croissant con Cafe</b><br>7.80€</span></div>
                    <div class="card"><img src="pruebaImg.png"><span class="spanInfo"><b>Croissant con Cafe</b><br>7.80€</span></div>
                    <div class="card"><img src="pruebaImg.png"><span class="spanInfo"><b>Croissant con Cafe</b><br>7.80€</span></div>
                    <div class="card"><img src="pruebaImg.png"><span class="spanInfo"><b>Croissant con Cafe</b><br>7.80€</span></div>
                    <div class="card"><img src="pruebaImg.png"><span class="spanInfo"><b>Croissant con Cafe</b><br>7.80€</span></div>
                </div>
            </div>
            <div class="contentItems">
                <h1 class="titulos">Pescados</h1>
                <div class="gridItems">
                    <div class="card"><img src="pruebaImg.png"><span class="spanInfo"><b>Croissant con Cafe</b><br>7.80€</span></div>
                    <div class="card"><img src="pruebaImg.png"><span class="spanInfo"><b>Croissant con Cafe</b><br>7.80€</span></div>
                    <div class="card"><img src="pruebaImg.png"><span class="spanInfo"><b>Croissant con Cafe</b><br>7.80€</span></div>
                    <div class="card"><img src="pruebaImg.png"><span class="spanInfo"><b>Croissant con Cafe</b><br>7.80€</span></div>
                    <div class="card"><img src="pruebaImg.png"><span class="spanInfo"><b>Croissant con Cafe</b><br>7.80€</span></div>
                    <div class="card"><img src="pruebaImg.png"><span class="spanInfo"><b>Croissant con Cafe</b><br>7.80€</span></div>
                    <div class="card"><img src="pruebaImg.png"><span class="spanInfo"><b>Croissant con Cafe</b><br>7.80€</span></div>
                </div>
            </div>
        </div>
    </section>
    <footer class="section five" id="contacts-section">
        <div class="footer-content">
            <h1>JJ&M Delivery<span style="color:#FFE48F;">.</span></h1>
            <div class="footer-info">
                <div>
                    <span class="follow"><b>Jarraitu</b></span><br>
                    <span class="follow">Facebook</span><br>
                    <span class="follow">Twitter</span><br>
                    <span class="follow">Instagram</span>
                </div>
                <div>
                    <img src="googleplay.png"><br>
                    <img src="appstore.png">
                </div>
                <div>
                    <span class="condicion">CONDICIONES DE USO</span><br>
                    <span class="follow">POLITICA DE PRIVACIDAD</span><br>
                    <span class="follow">POLITICA DE COOKIES</span>
                </div>
            </div>
        </div>
    </footer>
    <script src="scriptJatetxea.js"></script>
</body>

</html>