@media (max-width: 800px) {

 
}
.one {
    position: relative;
    width: 101%;
    height: 150vh;
}
.nav__item .buttonShop{
    color: white !important;
    background-color: black !important;
}
.contentResumen{
    margin: auto;
    width: 60%;
    position: relative;
    top: 10%;
}
.contentResumen h7{
    font-size: 2rem;
    margin-left: 1rem;
}
.contentResumen h2{
    font-size: 2.5rem;
}
.botonAtras{
    background: url(../images/AppIcons/icoArrow.png) no-repeat center;
    background-size: cover;
    width: 25px;
    height: 25px;
    border: none;
    transform: rotate(90deg);
    cursor: pointer;
}
.resumenPedido{
    width:40%;
    height: auto;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    position: absolute;
    padding-bottom: 1%;
    right: 0;
    top: 0;
    transition: top 0.2s;
}
.fixedResumenPedido{
    position: fixed !important;
    left: 56.5% !important;
    top: 10% !important;
    width: 25% !important;
}
.tituloResumen{
    padding: 2rem;
    width: 100%;
    border-bottom: 1px solid #CFD1D2;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.tituloResumen span{
    font-size: 1.7rem;
    font-weight: bold;
}
.tituloResumen .imagen{
    background: url(../images/AppIcons/icoResumen.svg) no-repeat center;
    background-size: cover;
    width: 65px;
    height: 65px;
}
.resumen{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0.5rem 1rem;
    box-sizing: border-box;
    color: #929292 ;
    font-size: 1.1rem;
}
.uwu{
    color: black !important;
    font-weight: 500;
}
.repartidores {
    color: #929292 ;
    font-size: 0.6rem;
    padding:0.5rem 1rem;
    display: block;

}
.confirmarPedido{
    background-color: #FFB600;
    padding: 0.6rem 2rem;
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
    margin: 2% auto;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    display: block;
    width: 50%;
  
}
.subcontent{
    position: absolute;
    width: 100%;
    margin: 5% 0;
    
}
.leftContent{
    width: 60%;
    left: 0;
    top: 0;
    padding: 1rem 2.5rem;

}
.a{
    font-size: 1.1rem;
}
.resumenDeProductos{
    list-style: none;
}
.resumenDeProductos li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 2px;

}
.resumenDeProductos li span{
    display: block;
}
.inputDireccion{
    display: flex;
    align-items: center;
    margin: 3% 0;
}
.inputDireccion span{

    display: inline-block;
}
 input{
    display: inline-block;
    padding: 0.7rem 0.4rem;    
    border: none;
    border-bottom: 1px solid #CFD1D2;
    width: 100%;
    margin-left: 2%;
    font-size: 1.1rem;
}
input:focus{
    outline: none;
    border-bottom: 2px solid #FFB600;
}
.calle{
    background: url(../images/AppIcons/icoLocation.png) no-repeat center;
    background-size: cover;
    width: 30px;
    height: 30px;
}
.tel{
    background: url(../images/AppIcons/icoPhone.png) no-repeat center;
    background-size: cover;
    width: 30px;
    height: 30px;
}
.cardImg{
    background: url(../images/AppIcons/icoCreditCard.png) no-repeat center;
    background-size: cover;
    width: 30px;
    height: 30px;
}
.dateImg{
    background: url(../images/AppIcons/icoCreditDate.png) no-repeat center;
    background-size: cover;
    width: 30px;
    height: 30px;
}
.keyImg{
    background: url(../images/AppIcons/icoKey.png) no-repeat center;
    background-size: cover;
    width: 30px;
    height: 30px;
}
.nameImg{
    background: url(../images/AppIcons/icoCardPerson.png) no-repeat center;
    background-size: cover;
    width: 30px;
    height: 30px;
}
.metodoPago{
    position: relative;
    width: 80%;
    height: 10vh;
}
.numeroTarjeta{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fechaCadu{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ccv{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 50%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.nombreTarjeta{
    position: absolute;
    top: 120%;
    left: 0;
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

input.invalid{
	border-bottom: 1px solid red !important;
}

input.valid{
	border-bottom: 1px solid #4fa03b !important;
}
.confirm{
    height: 50vh !important;
}
.contentConfim{
    text-align: center;
    width: 100%;
    margin: auto;
    height: 30vh;
    color: white;
    background: #4c8f3b;
    position: relative;
    top: 18%;
    text-align: center;
    font-size: 1.3rem;
    padding: 2rem 0;
}
.contentConfim > * {
    display: block;
    color: white;

}

.calleCompra{
    font-size: 1.5rem;
    font-weight: bold;
}