.nav{
  background-color: #FFE48F !important;
}
.nav__link{
  color: black !important;
}
.register{
  border-color: #151314 !important;
  color: #151314 !important;
}
@media (max-width: 800px) {

    .content-main{
        grid-template-columns: auto auto !important;
    }
    .filters li span {
        display: none;
    }
}
.one {
    position: relative;
    width: 101%;
    height: 200vh;
}
.one h2{
    font-size: 2rem;
    position: absolute;
    top: 10%;
    display: block;
    width: 100%;
    text-align: center;
}
.pop-up{
    position: fixed;
    width: 100%;
    height: 92%;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 999;
    display: flex;
    bottom: 0;
}
.content-popup{
    margin: auto;
    width: 90%;
    height: 90%;
    position: relative;
    border-radius: 10px;
    border:10px solid #C4C6C7;
    box-sizing: border-box;
    background-color: #fff;
}
.close-button{
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 50%;
    background-color: #fff;
    border:1px solid #C4C6C7;
    padding: 0.5rem;
    width: 2.2rem;
    height:2.2rem;
    transform: translate(50%,-60%);
    cursor: pointer;
    z-index: 99;

}
.mapa{
    width: 100%;
    height: 100%;
    z-index: 1;
}
.filters{
    position: absolute;
    left: 0;
    top:8%;
    width: 15%;
    height: 82vh;
    box-sizing: border-box;
    padding:0 1rem;
    overflow-y: auto;
    overflow-x: hidden;

}

.filters ul{
    list-style: none;
    padding:1.5rem 1rem;

}
.filters li{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #C4C6C7;
    padding: 0.5rem 0;
    cursor: pointer;
}
.spinner{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #fff;
  z-index: 9999999;
  display: none;
}
.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #191914;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
  background-color: #ffbd17;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
  background-color: #b9a072;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
li:hover{
    filter: brightness(105%);
}
.filters span{
    margin-left: 5%;
}
::-webkit-scrollbar {
    width: 20px;
  }
  /* Track */
 ::-webkit-scrollbar-track {
    background: #C4C6C7; 
  }
   
 ::-webkit-scrollbar-thumb {
     background: #FFDA7E;
  }
  
::-webkit-scrollbar-thumb:hover {
      background: #ffbd17;
  }
.content-main{
    position: absolute;
    max-height:90%;
    top: 5%;
    right: 0;
    width: 85%;
    display: grid;
    grid-template-columns: 31% 31% 31%;
    grid-gap: 2.2rem;
    padding: 3rem 2%; 
    overflow-y: auto;
    overflow-x: hidden;

}
.content-main h1{
    position: absolute;
    top: -0.5%;
    left: 2%;
    background: #fff;
   display: block;
}
.filter-price{
    position: fixed;
    right: 0;
    top: 8.2%;
    background: #fff;
    width: 20%;
    height: 5%;
    transform: translate(0,0);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
    border-radius: 0 0 0 10px;

}
.filter-price input{
    background: black;
    width: 60%;
}

.restaurant{
    width: auto;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    position: relative;
    height: auto;
    max-height: 95%;
    cursor: pointer;
    overflow: hidden;
}
.restaurant .image{
    width: 100%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    filter: brightness(0.7);
    height: auto;
    transition: all 0.3s;
}
.image:hover{
  transform: scale(1.05);
}
.restaurant-val{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding:0.8rem;
    font-size: 100%;
    position: relative;
    top: -3%;
}
.restaurant span{
    display: inline-block;
}
h5{
    position: absolute;
    display: block;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    font-weight: normal;
    letter-spacing: 2px;
    font-size: 1.5rem;
    display: block;
    width: 100%;
    text-align: center;
}
h7{
    position: absolute;
    display: block;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    font-weight: normal;
    letter-spacing: 2px;
    font-size: 0.7rem;
    background: rgba(22, 20, 21, 0.3);
    padding: 0.3rem 0.7rem;
}

.inputDiv {
    width: 250px;
    margin: 100px auto;
    position: relative;
  }
.slider{
  position: relative;
}
.slider::before{
  position: absolute;
  bottom: -1000%;
  content: '€';
  left: 0;
  font-size: 15px;
  
}
.slider::after{
  position: absolute;
  bottom: -1000%;
  content: '€€€';
  right: 0;
  font-size: 15px;
  
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br{
  width: 200px;
  background: black !important;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
  background: rgba(0, 0, 0, 1) !important;
  border-radius: 50%;
}
.ui-widget{
  font-size: 5px !important;
}
.ui-slider .ui-slider-handle {
  position: absolute !important;
  width: 4em !important;
  height: 4em !important;
  top: 50% !important;
  transform: translate(0,-50%);
  z-index: 99 !important;
}

.popUpMap{
  text-align: center;
  line-height: 1.8;
  height: 12vh;
}
.popUpMap button{
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
  background: url(../images/AppIcons/icoGo.png) no-repeat center;
  background-size: contain;
  margin-top:0.2rem ;
}
.erabil{
  width: 2.8rem;
  height: 2.8rem;
  margin-right: 1rem;
  background:url(../images/AppIcons/LoginIcons/Gris/icoLogin.png) no-repeat center !important;
  background-size: cover !important;
  position: relative;
  cursor: pointer;

}
.nav__item .buttonShop{
  color:black !important;
  border: 1px solid black !important;
  background: url(../images/AppIcons/icosShoppingBlack.png) no-repeat 10% center !important;

}