.nav{
  background-color: #FFE48F !important;
}
.nav__link{
  color: black !important;
}
.register{
  border-color: #151314 !important;
  color: #151314 !important;
}
@media (max-width: 800px) {

    .content-main{
        grid-template-columns: auto auto !important;
    }
    .filters li span {
        display: none;
    }
}
.one {
    position: relative;
    width: 101%;
    height: 200vh;
}
.one h2{
    font-size: 2rem;
    position: absolute;
    top: 10%;
    display: block;
    width: 100%;
    text-align: center;
}
.pop-up{
    position: absolute;
    width: 100%;
    height: 92%;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 999;
    display: flex;
    bottom: 0;
}
.content-popup{
    margin: auto;
    width: 90%;
    height: 90%;
    position: relative;
    border-radius: 10px;
    border:10px solid #C4C6C7;
    box-sizing: border-box;
    background-color: #fff;
}
.close-button{
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 50%;
    background-color: #fff;
    border:1px solid #C4C6C7;
    padding: 0.5rem;
    width: 2.2rem;
    height:2.2rem;
    transform: translate(50%,-60%);
    cursor: pointer;
    z-index: 99;

}
.mapa{
    width: 100%;
    height: 100%;
    z-index: 1;
}
.filters{
    position: absolute;
    left: 0;
    top:8%;
    width: 15%;
    height: 82vh;
    box-sizing: border-box;
    padding:0 1rem;
    overflow-y: auto;
    overflow-x: hidden;

}

.filters ul{
    list-style: none;
    padding:1.5rem 1rem;

}
.filters li{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #C4C6C7;
    padding: 0.5rem 0;
    cursor: pointer;
}
.spinner{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #fff;
  z-index: 9999999;
  display: none;
}
.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #191914;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
  background-color: #ffbd17;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
  background-color: #b9a072;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
li:hover{
    filter: brightness(105%);
}
.filters span{
    margin-left: 5%;
}
::-webkit-scrollbar {
    width: 20px;
  }
  /* Track */
 ::-webkit-scrollbar-track {
    background: #C4C6C7; 
  }
   
 ::-webkit-scrollbar-thumb {
     background: #FFDA7E;
  }
  
::-webkit-scrollbar-thumb:hover {
      background: #ffbd17;
  }
.content-main{
    position: absolute;
    max-height:90%;
    top: 5%;
    right: 0;
    width: 85%;
    display: grid;
    grid-template-columns: 31% 31% 31%;
    grid-gap: 2.2rem;
    padding: 3.2% 2%; 
    overflow-y: auto;
    overflow-x: hidden;

}
.content-main h1{
    position: absolute;
    top: 0;
    left: 2%;
    background: #fff;
    width: 100%;
    padding: 0.5rem 0 ;
   display: block;
}
.filter-price{
    position: absolute;
    right: 0;
    top: -1.5%;
    background: transparent;
    padding: 1rem;
    width: 20%;
    height: 5%;
    transform: translate(0,0);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
}
.filter-price input{
    background: black;
    width: 60%;
}

.restaurant{
    width: auto;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    position: relative;
    height: auto;
    max-height: 95%;
    cursor: pointer;
    overflow: hidden;
}
.restaurant .image{
    width: 100%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    filter: brightness(0.7);
    height: auto;
    transition: all 0.3s;
}
.image:hover{
  transform: scale(1.05);
}
.restaurant-val{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding:0.8rem;
    font-size: 100%;
    position: relative;
    top: -3%;
}
.restaurant span{
    display: inline-block;
}
h5{
    position: absolute;
    display: block;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    font-weight: normal;
    letter-spacing: 2px;
    font-size: 1.5rem;
    display: block;
    width: 100%;
    text-align: center;
}
h7{
    position: absolute;
    display: block;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    font-weight: normal;
    letter-spacing: 2px;
    font-size: 0.7rem;
    background: rgba(22, 20, 21, 0.3);
    padding: 0.3rem 0.7rem;
}

.inputDiv {
    width: 250px;
    margin: 100px auto;
    position: relative;
  }
  
  input[type='range'] {
    display: block;
    width: 250px;
    position: relative;
  }
  
  input[type='range']:focus {
    outline: none;
  }
  
  input[type='range'],
  input[type='range']::-webkit-slider-runnable-track,
  input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
  }
  
  input[type=range]::-webkit-slider-thumb {
    background-color: #777;
    width: 15px;
    height: 15px;
    border: 2px solid #333;
    border-radius: 50%;
    margin-top: -7px;
  }
  
  input[type=range]::-moz-range-thumb {
    background-color: #777;
    width: 5px;
    height: 5px;
    border: 2px solid #333;
    border-radius: 50%;
  }
  
  input[type=range]::-ms-thumb {
    background-color: #777;
    width: 5px;
    height: 5px;
    border: 2px solid #333;
    border-radius: 50%;
  }
  
  input[type=range]::-webkit-slider-runnable-track {
    background-color: #777;
    height: 3px;
  }
  
  input[type=range]:focus::-webkit-slider-runnable-track {
    outline: none;
  }
  
  input[type=range]::-moz-range-track {
    background-color: #777;
    height: 3px;
  }
  
  input[type=range]::-ms-track {
    background-color: #777;
    height: 3px;
  }
  
  input[type=range]::-ms-fill-lower {
    background-color: HotPink
  }
  
  input[type=range]::-ms-fill-upper {
    background-color: black;
  } 
  input[type=range]::after{
      content: '€';    
      position: absolute;
      bottom:-700%;     
  }
  input[type=range]::before{
    content: '€€€';    
    position: absolute;
    bottom:-700%;     
    right: 0;
}