html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Prompt', sans-serif;

}
@media only screen and (max-width: 1100px) {
 
    .main-info{
        width: 60% !important;
        left: 50% !important;
    }
    .one::before{
        filter:brightness(20%) ;
        background-color: rgba(21, 19, 20, 0.8) !important;
    }
    .chef-recomendation{
        background-color: white;
        padding: 0.3rem;
        border-radius: 40px;
        left: 25% !important;
        bottom: 3% !important;
        width: 40% !important;
        font-size: 70% !important;
    }
    .titulo{
        color: white;
    }
    .chef-recomendation img{
        width: 20%;
    }
    .button button{
        background-color: white !important;
        color: #DFBF6F !important;
        font-weight: bold !important;
        padding-left: 0 !important;
        height: 5vh !important;

    }
  
  }
  @media only screen and (max-width: 1400px) {
    
    .main-info, .chef-recomendation{
        font-size: 80%;
  
    }

  }
  body::-webkit-scrollbar {
    display: none;
}
.nav {
    height: 5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 10;
    font-weight: 300;
    transition: 0.2s ease-in-out;
    position: fixed;

}

.nav__list {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    padding: 0vh 4vw;
}

.nav__link {
    text-decoration: none;
    position: relative;
    margin: 0 12px;
    transition: color 0.1s, background-color 0.1s, padding 0.2s ease-in;
    color: #C4C6C7;   
     font-size: 90%;
     white-space: nowrap;
}
.nav__item .last{
    margin: 0 5rem 0 0;

}
.register{
    margin: 0 10px 0 30px;
    background-color: transparent;
    color: #fff;
    border: 1px solid white;
    padding: 0.7rem 1rem;
    border-radius: 30px;
    font-size: 80%;
    white-space: nowrap;
    cursor: pointer;

} 
.login{
    margin: 0 10px 0 0;
    background: #FFDA7E;
    padding: 0.7rem 1rem;
    border-radius: 30px;
    font-size: 80%;
    white-space: nowrap;
    cursor: pointer;


}
.nav-toggle {
    display: none;
}

.nav__link:active::before {
    background-color: #000;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0vh 4vw;
    color: rgb(22, 8, 8);
    text-transform: uppercase;
    font-weight: 800;
    height: 5rem;
    white-space: nowrap;
    font-size: 140%;

}

.smalllogo {
    display: none;
}

a {
    text-decoration: none;
    color: #111;
}

@media (max-width: 800px) {
    .buy-image{
        display: none !important;
    }
    .nav {
        display: flex;
        justify-content: space-between;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 100;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
        height: 100vh;


    }

    .nav__list {
        list-style: none;
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center;
        margin: 0;
        padding: 135px;
        background-color: #111;
        width: 100%;
    }

    .logo {
        display: block;
    }

    .smalllogo {
        padding: 0vh 4vw;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #111;
        text-transform: uppercase;
        font-weight: 800;
        height: 5rem;
        width: 100%;
        position: absolute;
    }
    .logolink {
        text-decoration: none;
        color: #111;
    }
    .nav-toggle {
        display: block;
        padding: 2.3em;
        background: transparent;
        border: 0;
        cursor: pointer;
        z-index: 1000;
        outline: none;
    }

    .nav__link {
        margin: 0;
        color: #fff;
        text-align: center;
    }

    .nav-open {
        overflow: hidden;
    }

    .nav-open .nav {
        transform: translateX(0);
        width: 100vw;
    }

    .nav-open .logo {
        display: none;
    }

    .nav-open .hamburger {
        transform: rotate(0.625turn);
        background-color: #fff;
    }

    .nav-open .hamburger::before {
        transform: rotate(90deg) translateX(-6px);
        background-color: #fff;
    }

    .nav-open .hamburger::after {
        opacity: 0;
    }

    .hamburger {
        display: block;
        position: relative;
    }

    .hamburger,
    .hamburger::before,
    .hamburger::after {
        background-color: #fff;
        width: 2em;
        height: 3px;
        border-radius: 1em;
        transition: transform 250ms ease-in-out;
    }

    .hamburger::before,
    .hamburger::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
    }

    .hamburger::before {
        top: 6px;
    }

    .hamburger::after {
        bottom: 6px;
    }

    .nav__item {
        color: #fff;
        width: 100%;
        background-color: rebeccapurple;
        position: relative;
      
    }
    .nav__item a{
        border: none !important;
        background-color: transparent;
        color: #fff;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        width: auto;
    }
    .nav__item .register{
        left: 43% ;
        cursor: pointer;
    }

    .nav__link::before {
        content: "";
        display: block;
        position: absolute;
        bottom: 3px;
        left: 0;
        height: 3px;
        width: 100%;
        background-color: #fff;
        transform-origin: right top;
        transform: scale(0, 1);
        transition: color 0.1s, transform 0.2s ease-out;
    }

    .nav__link:active::before {
        background-color: #fff;
    }

    .nav__link:hover::before,
    .nav__link:focus::before {
        transform-origin: left top;
        transform: scale(1, 1);
    }
 
  
}
/*Info */
.datosErabil{
    position: absolute;
    background: #fff;
    border-radius: 100%;
    top: 120%;
    left: -200%;
    transform: translate(-50%,0);
    pointer-events: none;
    display: none;
    animation: opacity 0.5s ;
}
.datosErabil::after{
    position: absolute;
    top: -2%;
    right:11%;
    content: '';
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #fff;
    transform: rotate(180deg);
    clear: both;
}
.welcome{
    display: block;
    background:#fff;
    padding: 2.5rem 1rem;
    font-weight: bold;
    min-width: 35vh;
    font-size: 1.8rem;
    border-radius: 10px 10px 0 0 ;
    border-bottom:1px solid #E5E5E5 ;
}
.nombre{
    font-size: 1rem !important;
    font-weight: normal !important;
    color: #7B7D80;
    padding: 2rem 1rem;
    border-radius: 0 !important;

}
.nombre a{
    color: #151314;
    float: right;
    margin: auto;
    font-weight: bold;
    cursor: pointer;
    pointer-events: visible;
}
.nav__item button{
    display: block;
    padding: 0.7rem 0.9rem 0.7rem 2.2rem;
    border: 1px solid #fff;
    box-sizing: border-box;
    border-radius: 30px;
    color: white;
    background: url(../images/AppIcons/icosShopping.png) no-repeat 10% center;
    background-color:transparent;
    cursor: pointer;
    
}
/*Login */
.popLogin{
    position: absolute;
    bottom: 0;
    width: 35vh;
    height: auto;
    left: -50%;
    transform: translate(-50%,105%);
    background-color: #fff;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 1rem;
    text-align: center;
    box-shadow: rgba(255, 255, 255, 0.44) 0px 3px 8px;
    display: none;
}
.loginClass{
    position: relative;
}
/*Register */

.popLogin input[type=text], input[type=password], input[type=email]{
    display: inline-block;
    border:none;
    border-bottom: 1px solid #C4C6C7;
    outline: none;  
    width: 100%;
    padding: 0.3rem 0;
    box-sizing: border-box;
    font-size: 1.2rem;
}
.popLogin .formulario{
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10% auto;
    position: relative;
    width: 97%;
}
.popLogin .formulario .img{
   display: inline-block;
}
.popRegister{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 999999;
    display: none;
    animation: opacity 0.5s ;
}
@keyframes opacity {
    from{
        opacity: 0;
    }
}
.containerRegister {
    text-align: center;
    padding: 2%;
    margin: auto;
    margin-top: 8%;
    width: 45%;
    height: auto;
    color:#C4C6C7;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
}
#closeRegister{
    position: absolute;
    top: 5%;
    right: 5%;
    color: #C4C6C7;
    cursor: pointer;
    font-size: 1.2rem;
}
#login{
    height: 40%;
}
.containerRegister form{
    margin-top: 7%;
}
.containerRegister .formulario{
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3% auto;
    position: relative;
    width: 60%;
}
.containerRegister .formulario .img{
   display: inline-block;
}
.containerRegister input[type=text], input[type=password], input[type=email]{
    display: inline-block;
    border:none;
    border-bottom: 1px solid #C4C6C7;
    outline: none;  
    width: 100%;
    padding: 0.3rem 0;
    box-sizing: border-box;
    font-size: 1.2rem;
}

.showPass{
    position: absolute;
    right: 0;
    top:0;
    width: 1.2rem;
    height: 1.2rem;
    background: url(../images/AppIcons/icoShowPass.png) no-repeat center;
    background-size: cover;
    cursor: pointer;
}
.name{
    background: url(../images/AppIcons/LoginIcons/Gris/icoName.png) no-repeat center;
    width: 2.3rem;
    height: 2.3rem;
    background-size: 95%;
    margin-right: 10px;

}
.lastname{
    background: url(../images/AppIcons/LoginIcons/Gris/icoLastname.png) no-repeat center;
    width: 2.3rem;
    height: 2.3rem;
    background-size: 95%;
    margin-right: 10px;

}
.pass1{
    background: url(../images/AppIcons/LoginIcons/Gris/icoPassword.png) no-repeat center;
    width: 2.3rem;
    height: 2rem;
    background-size: 95%;
    margin-right: 10px;

}
.pass2{
    background: url(../images/AppIcons/LoginIcons/Gris/icoPasswordRepeat.png) no-repeat center;
    width: 2.3rem;
    height: 2.3rem;
    background-size: 95%;
    margin-right: 10px;

}
.email{
    background: url(../images/AppIcons/LoginIcons/Gris/icoMail.png) no-repeat center;
    width: 2.3rem;
    height: 2.3rem;
    background-size: 95%;
    margin-right: 10px;

}
.user{
    background: url(../images/AppIcons/LoginIcons/Gris/icoUser.png) no-repeat center;
    width: 2.3rem;
    height: 2.3rem;
    background-size: 95%;
    margin-right: 10px;

}
h1{
    color: black;
    font-weight: bold;
}
p span a{
    color: #f5a111;
    text-decoration: none;
}
.alert {
    display: none;
  }
  .error {
    color: #e74c3c;
  }
.containerRegister p{
    margin-top: 4%;
}
.btn{
    width: inherit;
    border: 1px solid #f5a111;
    background-color: #f5a111;
    border-radius: 20px;
    height: auto;
    width: auto;
    padding: 0.8rem 3.2rem;
    color: white;
    cursor: pointer;

}
.btnLogin{
    width: inherit;
    border: 1px solid #f5a111;
    background-color: #f5a111;
    border-radius: 20px;
    height: auto;
    width: auto;
    padding: 0.8rem 1.6rem;
    color: white;
    cursor: pointer;
    margin: 1% auto;
}
.btn:disabled{
    border: 1px solid #C4C6C7;
    background-color: #C4C6C7;
    cursor: not-allowed;
}
/*-----------ERROR CSS -----------------*/
.error{
	display: none;
	margin-left: 10px;
}		

.error_show{
	color: red;
	margin-left: 10px;
}
.errorPass{
    position: absolute;
    left: 50%;
    top:140%;
    transform: translateX(-50%);
    width: 11rem;
    height: 3rem;
    background-color: #FFDA7E;
    z-index: 99999;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    display: none;
    animation: opacity 0.5s;
    text-align: center;
}
.errorPassSame{
    height: 5rem !important;
}
.errorPass::after{
    position: absolute;
    top: -20%;
    right:38%;
    content: '';
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #FFDA7E;
    transform: rotate(180deg);
    clear: both;
}
/*-----------REAL TIME VALIDATION-----------------*/

input.invalid{
	border-bottom: 1px solid red !important;
}

input.valid{
	border-bottom: 1px solid #f5a111 !important;
}

.five {
    position: relative;
    background: url(../images/AppImages/footerImg.png) no-repeat bottom;
    background-size: cover;
     min-width: 100%;
     height: 60vh;
 }
 .footer-content{
     position: absolute;
     top:60%;
     left: 50%;
     transform: translate(-50%,-50%);
     width: 50%;
     height: 60%;
 
     
 }
 .footer-content h1{
     font-size: 3rem;
     font-weight: bold;
     color: white;
     
 }
 .footer-info{
     display: grid;
     grid-template-columns: auto auto auto;
     grid-gap: 80px;
     box-sizing: border-box;
     padding: 2.5rem 1.5rem;
     color: #BBBBBB;
     font-size: 1.2rem;
     place-items: center;position: absolute;
     bottom:0;
     width: 100%;
 }
 .footer-info div img{
     margin: 5% auto;
     display: block;
 }
 .footer-info div span{
     margin: auto;
     display: block;
 }